@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+Tokumin&family=Kiwi+Maru&family=Klee+One&family=Kosugi+Maru&family=M+PLUS+Rounded+1c&family=Nunito:ital@0;1&family=Yuji+Syuku&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #edfffa;

    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
}
